@model uCommerceMVC.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            Product Info
        </th>
        <th>
            Price Info
        </th>
        <th>
            Product Details
        </th>
        <th>
            User Details
        </th>
        <th>
            Images
        </th>
        <th></th>
    </tr>

        <tr>
            <td>
                <b>Product Name : </b>@Html.DisplayFor(model => model.Name)<br />
                <b>Description : </b>@Html.DisplayFor(model => model.Description)<br />
                <b>Condition : </b>@Html.DisplayFor(model => model.Condition.Name)
            </td>
            <td>
                <b>Regular price : </b>@Html.DisplayFor(model => model.RegularPrice)<br />
                <b>Offer Price : </b>@Html.DisplayFor(model => model.OfferPrice)<br />
                <b>Negotiable : </b>@(Model.Negotiable == true ? Html.Raw("Yes") : Html.Raw("No"))
            </td>
            <td>
                <b>Brand : </b>@Html.DisplayFor(model => model.Brand.Name)<br />
                <b>Category : </b>@Html.DisplayFor(model => model.Category.Name)<br />
                <b>Links : </b>@Html.DisplayFor(model => model.Links)<br />
                <b>Video : </b>@Html.DisplayFor(model => model.Video)<br />
            </td>
            <td>
                <b>Uploader : </b>@Html.DisplayFor(model => model.User.Name)<br />
                <b>Uploader Ip : </b>@Html.DisplayFor(model => model.IP)<br />
                <b>Uploaded Date : </b>@Html.DisplayFor(model => model.CreateDate)<br />
            </td>
            <td>
                @{
                    if (Model.ProductImages.Count > 0)
                    {
                        var pi = Model.ProductImages.First();
                        @Html.Raw("<a href=\"../ProductImage?product=" + Model.Id.ToString() + "\"><img src=\"../Upload/ProductImage/" + pi.Id.ToString() + "_" + pi.Image + "\" title=\"Total : \n Image : " + Model.ProductImages.Count + "\n Comments : " + Model.Comments.Count + "\n Likes : " + Model.ProductLikes.Count + "\" height=\"100\"/></a>")

                    }
                    else
                    {
                        @Html.Raw("<img src = \"../Upload/UserImages/no image.jpg\" height=\"100\" /> ")
                    }
                }
            </td>
        </tr>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
